body {
  font-size: 15px;
  background: #00ee99;
  font-family: Verdana, Arial, Helvetica, sans-serif;
}
*,
*:after,
*:before {
  margin: 0;
  padding: 0;
}
#INFO {
  position: fixed;
  top: 0;
  left: 0;
  transform: translate(-100%, -100%);
  width: 20rem;
  height: 10rem;
  background: white;
  border: 1px solid silver;
  font-size: 1.5rem;
  pointer-events: none;
}
button {
  padding: 0 2rem;
  height: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
input {
  padding: 0 2rem;
  height: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
#canvas {
  width: 100%;
  background: white;
}
.topnav1,
.topnav2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
  height: 4rem;
}
#topnav {
  top: 0;
  left: 0;
  width: 100%;
  background: linear-gradient(42deg, #99ee77, #00ee99);
  box-shadow: 0 0 4.2rem inset rgba(255, 255, 255, 0.42);
  border-bottom: 2px solid #144600;
  color: green;
  text-shadow: 1px 1px 1px white, -1px -1px 0px #99ee77;
  font-weight: bold;
}
label {
  display: flex;
  flex-direction: column;
}

.flex-row {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.flex-row > * {
  margin-right: 1rem;
}
